/*format for list*/
ul li{
	font-family: Georgia;
	font-size: 12px;
	color: black;
}

/*formatting for tables*/
th {
	text-align: center;
	background-color: lightgrey;
	color:black;
}

caption {
	font-family: Cambria;
	font-size: 16px;
	color: black;
}

td {
		text-align: center;	
		color:black;
		padding: 2px;
	
		}
		
.google{
	font-family: 'Covered By Your Grace', cursive;
	font-size:20pt;
	}
	
.italic{
	font-style:italic;
	}
	
/*styling for div background image*/
.album{
	height:300px;
	width:300px;
	background-image:url(https://s3.amazonaws.com/broadtime_thumbnails/440/418457175440/418457175440%3A300.jpg);
	background-repeat:no-repeat;
	margin:auto;
	border: 1px solid black;
}
	