/*Header Styling*/
header{
	width:100%;
	position:relative;
	height:200px;
	text-align:center;
	border-bottom:1px solid black;
}


/*Footer Styling*/
footer{
	width:100%;
	height:70px;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	border-top:1px solid black;
	text-align:center;
}
/*Navingation Table Styling*/
table.nav tr td{padding: 8px;}
	
.google{
	font-family: 'Taviraj', serif;
	font-size:40pt;
}

.menu{
	font-size:medium;
}
