/*format for list*/
ul li{
	font-family: Georgia;
	font-size: 12px;
	color: black;
}

/*formatting for tables*/
th {
	text-align: center;
	background-color: lightgrey;
	color:black;
}

caption {
	font-family: Cambria;
	font-size: 16px;
	color: black;
}

td {
		text-align: center;	
		color:black;
		padding: 2px;
	
		}
		

	
		