


#header{
	width:100%;
	padding:10px;
	height:90px;
	margin:10px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
}

#navigation{
	width:100%;
	padding:5px;
	border:1px;
	margin:0px 0px 0px 0px;
	border-top: 1px solid black;
}

#content{
	width:100%;
	border-top: 1px solid black;
	margin:0px 0px 0px 0px;
	padding:10px;
	height:470px;
	text-align:center;
}

#footer{
	width:100%;
	border-top:1px solid black;
	margin: 0px 0px 0px 0px;
	padding:10px;
	text-align:center;
}

.google{
	font-family: 'Taviraj', serif;
	font-size:40pt;
}

.menu{
	font-size:medium;
}


ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
li{
	float:left;
	}
li a{
	display:block;
	text-align:center;
	padding:16px;
	}

/*Link Styling*/
a:visited{
	color:peachpuff;
}

a:hover{
	font-weight:bold;
}

a:active{
	text-decoration:none;
}

caption{
	font-size:large;
	font-weight:bold;
}
